html{
    background: #f8f9fa !important;
}

body{
    background: #060d17;
}

table button{
    border: 0 !important;
    background: transparent !important;
}

.card, .modal-dialog{
    border: 0;
    opacity: 0.90;
}

.card-header, .modal-header{
    background: #ffc107;
    border: none;
    color: #1d1d1d;
}

.card-body, .card-footer, .modal-body, .modal-footer{
    background: #1d1d1d;
    color: #fff;
    border: none;
}

.card-footer{
    display: flex;
    flex-direction: column;
}

main{
    padding-bottom: 200px;
    position: relative;
}

.card-footer a{
    text-decoration: none !important;
    color: #1d1d1d;
}

.card-footer a:hover{
    color: #0b5ed7;
}

#portailWallpaper{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/wallpaper.jpg');
}

.nav-link{
    color: #1d1d1d !important;
}

.nav-link.active{
    background: #ffc107 !important;
    color: #fff !important;
}

table thead{
    background: #ffc107 !important;
}

td, tr{
    border: none !important;
}

tr.odd.selected td, tr.even.selected td a{
    color: #fff !important;
}

table{
    width: 100% !important;
}

table .odd{
    background: #1d1d1d !important;
}

table .odd td{
    color: #fff !important;
}

table td{
    vertical-align: middle !important;
    padding: 10px !important;
}

table th{
    border: 0 !important;
}

table .odd i{
    color: #fff !important;
}

table i{
    font-size: 13pt;
}

table .even i{
    color: #0d6efd !important;
}

table .selected i{
    color: #fff !important;
}

tr.odd.you i:hover, tr.even.you i:hover{
    color: #0d6efd !important;
}

table i:hover{
    color: #ffc107 !important;
}

.select-checkbox{
    width: 30px !important;
    cursor: pointer;
    /*display: flex;*/
    display: block !important;
    align-items: center;
}

.sorting_1{
    width: 30px !important;
}

table td, table th{
    width: 16%;
}

.pagination li a.page-link{
    background: #1d1d1d !important;
    border: none !important;
}

.pagination li.active a.page-link{
    background: #ffc107 !important;
    border: none !important;
}

footer{
    position: relative;
    min-height: 180px !important;
}

.close{
    border: none !important;
    background: #e6b41e !important;
}

.modal{
    z-index: 9999 !important;
}

.modal-up{
    opacity: 1 !important;
}

.dataTables_wrapper input[type="search"], .dataTables_wrapper label{
    width: 80% !important;
}

#gestion_user_table_filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-toggle{
    background: #ffc107 !important;
    border: none !important;
    height: 31px !important;
    padding-top: 3px !important;
}

tr.odd.you, tr.even.you{
    box-shadow: inset 0 0 0 9999px #ffc107 !important;
}

table.dataTable.table-striped>tbody>tr.odd.you>*{
    color: #1d1d1d !important;
}

tr.odd.you i, tr.even.you i{
    color: #1d1d1d !important;
}

table tr.odd.you .select-checkbox:before{
    border: solid 2px #1d1d1d !important;
}

table.dataTable>tbody>tr>td.select-checkbox:before, table.dataTable>tbody>tr>th.select-checkbox:before{
    margin-top: 10px;
    margin-left: 0px;
}

table.dataTable>tbody>tr.selected>td.select-checkbox:after, table.dataTable>tbody>tr.selected>th.select-checkbox:after{
    content: "✓";
    font-size: 20px;
    margin-top: -8px;
    margin-left: 0px;
    text-align: center;
    text-shadow: 1px 1px #b0bed9, -1px -1px #b0bed9, 1px -1px #b0bed9, -1px 1px #b0bed9;
}

table tr.odd .select-checkbox:before{
    border: solid 2px #fff !important;
}

table tr.even .select-checkbox:before{
    border: solid 2px #000 !important;
}

table tr.selected .select-checkbox:before{
    border: solid 2px #fff !important;
}

table.dataTable.table-striped>tbody>tr.odd.you>*{
    box-shadow: inset 0 0 0 9999px #ffc107;
    border: none;
}

tr.selected, tr.odd.you.selected, tr.even.you.selected{
    box-shadow: inset 0 0 0 9999px #0d6efd !important;
}

table.dataTable.table-striped>tbody>tr.odd.selected>*{
    box-shadow: inset 0 0 0 9999px #0d6efd !important;
    border: none;
}

tr.odd.selected td, tr.even.selected td{
    border: none !important;
    color: #fff !important;
}

table.dataTable.table-striped>tbody>tr.odd.selected>*{
    color: #fff !important;
}

table tr.odd.you .select-checkbox:before{
    border: solid 2px #fff !important;
}

tr.odd.you.selected i, tr.even.you.selected i{
    color: #fff !important;
}

table .select-checkbox{
    height: 50px !important;
}

table th{
    vertical-align: middle !important;
}

.form-control.is-valid, .was-validated .form-control:valid{
    border-color: #198754 !important;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: right calc(0.375em + 0.1875rem) center !important;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
    border: solid 2px #198754 !important;
}

.form-control.is-invalid, .was-validated .form-control:invalid{
    border-color: #dc3545 !important;
    padding-right: calc(1.5em + 0.75rem) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: right calc(0.375em + 0.1875rem) center !important;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

.invalid-feedback{
    font-size: 8pt !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before{
    margin-left: 10px !important;
}

td{
    text-align: center !important;
}

.pagination{
    margin-top: 20px !important;
}

tfoot{
    background: #efefef !important;
}

tfoot input{
    background: #1c1c1c !important;
}

@media only screen and (max-width: 1000px) {
    table.dataTable>tbody>tr.selected>td.select-checkbox:after, table.dataTable>tbody>tr.selected>th.select-checkbox:after{
        content: "";
    }
}