.card, .modal-dialog{
    border: 0;
    opacity: 0.90;
}

.card-header, .modal-header{
    background: #ffc107;
    border: none;
}

.card-body, .card-footer, .modal-body, .modal-footer{
    background: #1d1d1d;
    color: #fff;
    border: none;
}

main{
    padding-bottom: 200px;
    position: relative;
}

.card-footer a{
    text-decoration: none !important;
    color: #1d1d1d;
}

.card-footer a:hover{
    color: #0b5ed7;
}

#portailWallpaper{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/wallpaper.jpg');
}

.nav-link{
    color: #ffc107 !important;
}

.nav-link.active{
    background: #ffc107 !important;
    color: #fff !important;
}
