#user_infos_container #profil_picture{
    position: relative;
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
}

#user_infos_container #email_zone, #user_infos_container #password_zone{
    width: 100%;
}

#user_infos_container #edit_zone_img{
    width: 150px;
    height: 150px;
    position: absolute;
}

#user_infos_container #edit_zone_img label{
    width: 150px;
    height: 150px;
    cursor: pointer;
}

#user_infos_container #edit_zone_img i{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30pt;
    color: #f8f9fa !important;
}

.countdown{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    padding: 10px;
    background: #09172a;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    color: #dc3545;
}

.separator{
    padding-right: 5px;
}

.timer_icon{
    color: #dc3545;
}

#search_user{
    background: #09172a;
    box-shadow: none !important;
}

#container-search-user{
    position: relative;
}

#result-search-user{
    display: none;
    flex-direction: column;
}

#search_user{
    color: #fff;
}

#container-search-user{
    background-color: #09172a;
    position: absolute;
    z-index: 10;
}

#title-search{
    padding: 10px;
    justify-content: start;
    display: none;
}

#result-search-user{
    padding: 10px;
    color: #fff;
    align-items: start;
    margin-bottom: 20px;
}

#result-search-user a{
    color: #fff !important;
    display: flex;
    margin-bottom: 20px;
}