#gestion_user input{
    background: #09172a;
    color: #fff;
    box-shadow: inset 0 0px 0 #ddd;
}

#gestion_user .profil-membre{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-size: cover !important;
}

#gestion_user label, #gestion_user .dataTables_info{
    color: #fff;
}

#gestion_user select{
    background: #ffc107;
    border: 0;
    cursor: pointer;
}

#gestion_user_table{
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}

table tr.odd input{
    background: #ffffff !important;
    color: #1d1d1d !important;
}

table tr.even input{
    background: #09172a !important;
    color: #fff !important;
}

#skip_edit:hover{
    color: #dc3545 !important;
}

.profil-membre{
    margin: 0 auto !important;
}

.add_user_row th{
    text-align: center !important;
}

#role_add{
    background: #1c1c1c !important;
    border: 0;
    cursor: pointer;
    color: #fff !important;
    padding: 5px !important;
}

#add_user_row td{
    position: relative;
}

#add_user_row .valid-feedback, #add_user_row .invalid-feedback{
    position: absolute;
    bottom: 0;
}

#transaction_user_table td{
    width: 33.3% !important;
    height: 30px !important;
}

#transaction_user label, #transaction_user .dataTables_info{
    color: #fff !important;
}

#transaction_user input{
    background: #09172a;
    color: #fff;
    box-shadow: inset 0 0px 0 #ddd;
}

#transaction_user_table{
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}

#transaction_user_table th{
    text-align: center !important;
}

.dataTables_length{
    justify-content: start !important;
    display: flex;
    margin-bottom: 20px;
}

#transaction_user_table_filter label{
    display: flex;
    justify-content: start;
    width: 100% !important;
}

#transaction_user_table_filter label input{
    width: 100% !important;
}

#transaction_user select{
    background: #ffc107;
    border: 0;
    cursor: pointer;
}


