body#movieWallpaper{
    background: #060d17;
}

.card.movie{
    width: 300px;
    position: relative;
}

.card.movie .card-footer small{
    color: #1d1d1d;
}

.card.movie .card-footer{
    background: #f8f9fa;
}

.card-body.movie-img{
    height: 400px;
    background-size: cover !important;
}

input{
    border: 0 !important;
}

#search-movie{
    background: #09172a;
    color: #fff;
    box-shadow: inset 0 0px 0 #ddd;
}

#release_year{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: #fff;
    background: #09172a;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
}

#movie-details{
    position: relative;
}

.bookmark{
    width: 50px;
    height: 70px;
    background: #09172a;
    position: absolute;
    left: 20px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    cursor: pointer;
}

.bookmark-right{
    left: 80%;
    top: 0;
    background: #ffc107;
}

.movie_picture{
    width: 300px;
    height: 400px;
    background-size: cover !important;
    margin: auto;
}

.synospis{
    color: gray;
    font-style: italic;
    text-align: justify;
}

.details.genre{
    color: gray;
    margin-left: 10px;
    font-weight: normal;
}

.details{
    color: #fff;
    margin-left: 10px;
    font-weight: bold;
}

.details a{
    text-decoration: none;
    color: gray;
}

.details a:hover{
    text-decoration: underline;
}

.btn-price{
    width: 150px;
}

.btn-back{
    width: 100px;
    margin-right: 10px;
}

.btn-zone a{
    text-decoration: none;
}